body {
    font-family: sans-serif;
}

#auth-container, #main-container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

form {
    margin-bottom: 20px;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}
